- name: Install stow
  homebrew:
    name: stow
    state: present

- name: Make setup.sh executable
  file:
    path: "{{ dotfiles_source }}/setup.sh"
    mode: 0755

- name: Stow dotfiles
  shell: ./setup.sh "{{ dotfiles_source }}"
  args:
    chdir: "{{ dotfiles_source }}"
