---
osxConfig:
  - domain: -globalDomain
    key: AppleInterfaceStyleSwitchesAutomatically
    name: System Preferences > General > Appearance
    type: bool
    value: false
  - domain: -globalDomain
    key: AppleInterfaceStyle
    name: System Preferences > General > Appearance
    type: string
    value: Dark
  - domain: -globalDomain
    key: AppleScrollerPagingBehavior
    name: "System Preferences > General > Click in the scrollbar to: Jump to the spot that's clicked"
    type: bool
    value: true
  - domain: -globalDomain
    key: NSTableViewDefaultSizeMode
    name: "System Preferences > General > Sidebar icon size: Medium"
    type: int
    value: 2
  - domain: -globalDomain
    key: _HIHideMenuBar
    name: "System Preferences > Desktop & Dock > Automatically hide and show the menu bar: always"
    type: int
    value: 1
  - domain: -globalDomain
    key: AppleMenuBarVisibleInFullscreen
    name: "System Preferences > Desktop & Dock > Automatically hide and show the menu bar: always - full screen"
    type: int
    value: 0
  ############################################################################
  - domain: com.apple.dock
    key: tilesize
    name: "System Preferences > Dock > Size: 54"
    type: float
    value: 50
  - domain: com.apple.dock
    key: magnification
    name: "System Preferences > Dock > Magnification: On"
    type: bool
    value: true
  - domain: com.apple.dock
    key: largesize
    name: "System Preferences > Dock > Size (magnified): 64"
    type: float
    value: 60
  - domain: com.apple.dock
    key: expose-group-apps
    name: "Mission Control > Group windows by application: Off (for AeroSpace)"
    type: bool
    value: false
  - domain: com.apple.dock
    key: mineffect
    name: "System Preferences > Dock > Minimize windows using: Genie effect"
    type: string
    value: genie
  - domain: com.apple.dock
    key: minimize-to-application
    name: "System Preferences > Dock > Minimize windows into application icon: On"
    type: bool
    value: true
  - domain: com.apple.dock
    key: autohide
    name: "System Preferences > Dock > Automatically hide and show the Dock: On"
    type: bool
    value: true
  - domain: com.apple.dock
    key: show-process-indicators
    name: "System Preferences > Dock > Show indicators for open applications: On"
    type: bool
    value: true
  - domain: com.apple.dock
    key: mru-spaces
    name: "System Preferences > Mission Control > Automatically rearrange Spaces based on most recent use: Off"
    type: bool
    value: false
  - domain: com.apple.dock
    key: workspaces-auto-swoosh
    name: "System Preferences > Mission Control > When switching to an application, switch to a Space with open windows for the application: On"
    type: bool
    value: true
  ############################################################################
  # AeroSpace window manager settings
  - domain: com.apple.spaces
    key: spans-displays
    name: "System Preferences > Mission Control > Displays have separate Spaces: Off (for AeroSpace stability)"
    type: bool
    value: true
  ############################################################################
  - domain: com.apple.finder
    key: AppleShowAllExtensions
    name: "Finder > Preferences > Show all filename extensions: On"
    type: bool
    value: true
  - domain: com.apple.finder
    key: FXPreferredViewStyle
    name: Finder > View > As List
    type: string
    value: Nlsv
  - domain: com.apple.finder
    key: ShowPathbar
    name: "Finder > View > Show Path Bar: On"
    type: bool
    value: true
  - domain: com.apple.finder
    key: _FXSortFoldersFirst
    name: "Finder > View > Arrange By > Keep folder on top"
    type: bool
    value: true
  - domain: com.apple.finder
    key: ShowExternalHardDrivesOnDesktop
    name: Hide external hard drives on desktop
    type: bool
    value: false
  - domain: com.apple.finder
    key: ShowHardDrivesOnDesktop
    name: Hide hard drives on desktop
    type: bool
    value: false
  - domain: com.apple.finder
    key: ShowRemovableMediaOnDesktop
    name: Hide removable media on desktop
    type: bool
    value: false
  - domain: com.apple.finder
    key: ShowMountedServersOnDesktop
    name: Hide mounted servers on desktop
    type: bool
    value: false
  - domain: com.apple.finder
    key: CreateDesktop
    name: Hide icons on desktop
    type: bool
    value: false
  - domain: com.apple.finder
    key: ShowStatusBar
    name: Enable status bar in Finder
    type: bool
    value: true
  - domain: com.apple.finder
    key: FXEnableExtensionChangeWarning
    name: "Finder > Preferences > Show wraning before changing an extension: Off"
    type: bool
    value: false
  - domain: com.apple.finder
    key: FXDefaultSearchScope
    name: Set search scope to current folder
    type: string
    value: SCcf
  - domain: com.apple.finder
    key: NewWindowTarget
    name: Set default Finder new window target
    type: string
    value: PfHm
  - domain: com.apple.finder
    key: FXRemoveOldTrashItems
    name: Empty Trash automatically after 30 days
    type: bool
    value: true
  - domain: com.apple.finder
    key: DisableAllAnimations
    name: Animation that conflicts with AeroSpace window manager
    type: bool
    value: true

  - domain: com.apple.finder
    key: NewWindowTargetPath
    name: Set default Finder location to ~/
    type: string
    value: file:///{{ lookup('env', 'HOME') }}/
  ############################################################################
  - domain: com.apple.driver.AppleBluetoothMultitouch.trackpad
    key: Clicking
    name: "System Preferences > Trackpad > Tap to click: On"
    type: int
    value: 1
  - domain: com.apple.TimeMachine
    key: DoNotOfferNewDisksForBackup
    name: Disable prompting to use new external drives as Time Machine volume
    type: bool
    value: true
  - domain: com.apple.desktopservices
    key: DSDontWriteNetworkStores
    name: Disable creation of .DS_Store files on network volumes
    type: bool
    value: true

  - domain: NSGlobalDomain
    key: WebKitDeveloperExtras
    name: Add context menu item to show web inspector
    type: bool
    value: true
  - domain: com.apple.screencapture
    key: location
    name: Save screenshots to ~/Pictures
    value: "{{ lookup('env', 'HOME') }}/Pictures"
  - domain: com.apple.screencapture
    key: type
    type: string
    name: Set screencapture file type to PNG
    value: png

  - domain: com.apple.SoftwareUpdate
    key: ScheduleFrequency
    name: Check for software updates weekly
    type: int
    value: 7
  - domain: com.apple.AppleMultitouchMouse
    key: MouseButtonMode
    name: Enable secondary click in external mouse
    type: string
    value: TwoButton
  - domain: ~/Library/Preferences/ByHost/com.apple.controlcenter.plist
    key: Bluetooth
    type: int
    value: 18

  # Fast key repeat for vim users
  - domain: NSGlobalDomain
    key: KeyRepeat
    name: "System Preferences > Keyboard > Key Repeat Rate: Fast"
    type: int
    value: 2

  - domain: NSGlobalDomain
    key: InitialKeyRepeat
    name: "System Preferences > Keyboard > Delay Until Repeat: Short"
    type: int
    value: 15

  # Show hidden files in Finder
  - domain: com.apple.finder
    key: AppleShowAllFiles
    name: "Finder > Show hidden files"
    type: bool
    value: false

  # Disable screenshot shadow
  - domain: com.apple.screencapture
    key: disable-shadow
    name: "Disable shadow in screenshots"
    type: bool
    value: true

  # Disable .DS_Store on USB volumes
  - domain: com.apple.desktopservices
    key: DSDontWriteUSBStores
    name: "Disable .DS_Store on USB/external volumes"
    type: bool
    value: true

  # Full keyboard access (Tab through all UI controls)
  - domain: NSGlobalDomain
    key: AppleKeyboardUIMode
    name: "System Preferences > Keyboard > Full keyboard access"
    type: int
    value: 3

# Doccumentation about keyboard shortcuts:
# https://krypted.com/mac-os-x/defaults-symbolichotkeys/
# https://stackoverflow.com/questions/21878482/what-do-the-parameter-values-in-applesymbolichotkeys-plist-dict-represent
# param_3:
#  0=>"No modifier",
#   131072=>"Shift",
#   262144=>"Control",
#   524288=>"Option",
#   1048576=>"Command",
#   393216=>"Shift + Control",
#   655360=>"Shift + Option",
#   1179648=>"Shift + Command",
#   786432=>"Control + Option",
#   1310720=>"Control + Command",
#   1572864=>"Option + Command",
#   917504=>"Shift + Control + Option",
#   1441792=>"Shift + Control + Command",
#   1703936=>"Shift + Option + Command",
#   1835008=>"Control + Option + Command",
#   1966080=>"Shift + Control + Option + Command",
# Add modifier values together in the 3rd parameter to combine them.
# Why are not working?....
keyboardSettings:
  #  Move focus to the Dock - Option+D
  - 8: "{ enabled = 1; value = { parameters = (100, 2, 524288); type = 'standard'; }; }"
  # Turn zoom on or off - Command, Option, 8
  - 15: "{ enabled = 0; }"
  # ??
  - 16: "{ enabled = 0; }"
  - 17: "{ enabled = 0; }"
  - 18: "{ enabled = 0; }"
  - 19: "{ enabled = 0; }"
  - 20: "{ enabled = 0; }"
  - 21: "{ enabled = 0; }"
  - 22: "{ enabled = 0; }"
  - 23: "{ enabled = 0; }"
  - 24: "{ enabled = 0; }"
  - 25: "{ enabled = 0; }"
  - 26: "{ enabled = 0; }"
  - 36: "{ enabled = 1; value = { parameters = (65535, 103, 8388608); type = 'standard'; }; }"
  - 37: "{ enabled = 1; value = { parameters = (65535, 103, 8519680); type = 'standard'; }; }"
  # Select the previous input source - Control, Space
  - 60: "{ enabled = 0; value = { parameters = (32, 49, 262144); type = 'standard'; }; }"
  # Select the next input source - Control, Option, Space
  - 61: "{ enabled = 0; value = { parameters = (32, 49, 786432); type = 'standard'; }; }"
  - 64: "{ enabled = 1; value = { parameters = (65535, 49, 1048576); type = 'standard'; }; }"
  - 65: "{ enabled = 1; value = { parameters = (65535, 49, 1572864); type = 'standard'; }; }"
  # Spaces Left - Control, Left
  - 79: "{ enabled = 1; value = { parameters = (65535, 123, 8650752); type = 'standard'; }; }"
  - 80: "{ enabled = 1; value = { parameters = (65535, 123, 8781824); type = 'standard'; }; }"
  # Spaces Right - Control, Right
  - 81: "{ enabled = 1; value = { parameters = (65535, 124, 8650752); type = 'standard'; }; }"
  - 82: "{ enabled = 1; value = { parameters = (65535, 124, 8781824); type = 'standard'; }; }"
  # Switch to Space 1 - Control, 1
  - 118: "{ enabled = 1; value = { parameters = (65535, 18, 262144); type = 'standard'; }; }"
  - 160: "{ enabled = 0; value = { parameters = (65535, 65535, 0); type = 'standard'; }; }"

  - 164: "{ enabled = 1; value = { parameters = (262144, 4294705151); type = 'modifier'; }; }"
